@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');


body{
    background-color: var(--bg-color);
}

*{
    font-family: 'Readex Pro', sans-serif;
    margin:0;
    padding:0;
}

.logout{
    padding-top:20px;
    float:right;
}


.header h1{
    padding-top: 10px;
    padding-left: 35px;
    text-align: left;
    color:var(--accent-color);
    font-size:36px;
    font-weight: normal;
}

.header p{
    font-weight:100;
    text-align: left;
    color:var(--accent-color);
    padding-left: 35px;
    font-size:24px;
}


.header{
    display:flex;
    flex-direction:column;
}


.status-light {
    width:24px;
    height:24px;
    border-radius: 32px;
    background:red;
    animation: blinker 1.5s linear infinite;
}

.status{
    display:flex;
    flex-direction:row;
    margin-top: 50px;
    margin-left: 35px;
}

.status p{
    padding-top:8px;
    font-size:10px;
}
  
@keyframes blinker {  
    50% { opacity: 0; }
}

.chat_box{
    margin: 0 auto;
    position:fixed;
    bottom:80px;
    width:80%;
    left:10vw;
    fill:var(--bg-color);
    display:flex;
    flex-direction:row;
}

.chat_box input{
    text-decoration: none;
    border:none;
    text-align: left;
    padding: 10px 0px;
    width: 80%;
    padding-left: 15px;
    border-radius: 15px 0px 0px 15px;
}

.chat_box button{
    display:flex;
    text-decoration: none;
    border:none;
    cursor: pointer;
    border-radius: 0px 15px 15px 0px;
    background:var(--accent-color);

}
.chat_box button p{
    left:2px;
    position:relative;
    bottom:-10px;
    font-weight: 800;
    color: var(--bg-color);
}

.message_field{
    background:var(--accent-color);
    color:var(--bg-color);
}

.chat_box button svg{
    margin: 0px 10px;
    position:relative;
    top:5px;

}

.comments{
    display:flex;
    position:relative;
    width:50%;
    height:50%;
}