@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');
body{
    background-color: var(--bg-color);
}

*{
    font-family: 'Readex Pro', sans-serif;
    margin:0;
    padding:0;
}

.logout{
    padding-top:20px;
    float:right;
}

.header h1{
    padding-top: 50px;
    padding-left: 35px;
    text-align: left;
    color:var(--accent-color);
    font-size:36px;
    font-weight: normal;
}

.header p{
    font-weight:100;
    text-align: left;
    color:var(--accent-color);
    padding-left: 35px;
    font-size:24px;
}

.status{
    background: rgba(var(--accent-color),0.5);
    flex-wrap: wrap;
    display:flex;
    margin: 5% auto;
    border:1px var(--accent-color) solid;
    width:333px;
    height:77px;
    border-radius: 10px;
}

.status h1{
    padding-top: 10px;
    font-weight: bold;
    padding-left: 20px;
    text-align: left;
    font-size:18px;
    color:var(--accent-color);
}

.status p {
    
    padding-top: 10px;
    padding-left: 20px;
    text-align: left;
    color:var(--accent-color);
    font-size:14px;
}

.transaction-title{
    text-align:center;
    color: var(--accent-color);
    font-size:14px;
}

.transactions{
    background: rgba(var(--accent-color),0.5);
    border-radius: 10px;
    border: 1px solid var(--accent-color);
    text-align:center;
    margin:5px 15px;
    max-height: 42vh;
    overflow:scroll;
    overflow-x: hidden;
}

.transactions h1{
    text-align:left;
    padding-top:20px;
    font-size:18px;
    color:var(--accent-color);
    padding-left: 20px;
}

.transaction .value{
    position:absolute;
    right:0px;
    top:30px;
    font-size:18px;
    color:var(--accent-color);
    font-weight:100;
}

.transaction .side{
    font-size:18px;
    color:var(--accent-color);
    font-weight:600;
}

.transaction .date{
    text-align:left;
    font-size:12px;
    color:var(--accent-color);
    font-weight:100;
    padding-left: 20px;
}

.transaction{
    position:relative;
    width: 80vw;
    margin-top:10px;
    padding-bottom: 10px;
    margin:0 auto;
    display:flex;
    flex-wrap: wrap;
    flex-direction:row;
    color:var(--accent-color);
}

.full-break{
    width: 100%;
}

.little-break{
    width: 60%;
}

.status-light {
    margin-top: 10px;
    width:24px;
    height:24px;
    border-radius: 50px;
    background:green;
    animation: blinker 1.5s linear infinite;
}

@keyframes blinker {  
    50% { opacity: 0; }
}

