@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');
body{
    background-color: #181818;
}

*{
    font-family: 'Readex Pro', sans-serif;
    margin:0;
    padding:0;
}

.logout{
    padding-top:20px;
    float:right;
}


.header h1{
    padding-top: 50px;
    padding-left: 35px;
    text-align: left;
    color:white;
    font-size:36px;
    font-weight: normal;
}

.header p{
    font-weight:100;
    text-align: left;
    color:white;
    padding-left: 35px;
    font-size:24px;
}


.status{
    flex-wrap: wrap;
    display:flex;
    margin: 5% auto;
    border:2px white solid;
    width:333px;
    height:77px;
    border-radius: 10px;
}

.status h1{
    padding-top: 10px;
    font-weight: bold;
    padding-left: 20px;
    text-align: left;
    font-size:18px;
    color:white;
}

.status p {
    padding-top: 10px;
    padding-left: 20px;
    text-align: left;
    color:white;
    font-size:14px;
}

.task-bar li{
    display:inline-block;
    padding: 0 20px;
}

.task-bar {
    text-align:center;
    width: 100%;
    position:fixed;
    bottom: 10px;
}

.task-bar svg{
    width: 40px;
    height: 40px;
    color:white;
}

.task-bar .active{
    width:50px;
    height:50px;
    border-radius: 10px;
    background:#7B61FF;
}
.transaction-title{
    text-align:center;
    color: white;
    font-size:14px;
}
.transactions{
    background: rgba( 255, 255, 255, 0.1 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255 );
    text-align:center;
    margin:5px 15px;
    max-height: 30vh;
    overflow:scroll;
    overflow-x: hidden;

}
.transactions h1{
    text-align:center;
    padding-top:20px;
    font-size:18px;
    color:white;
}


.transaction .value{
    position:absolute;
    right:0px;
    top:30px;
    font-size:18px;
    color:white;
    font-weight:100;
}

.transaction .side{
    font-size:18px;
    color:white;
    font-weight:600;
    
}

.transaction .date{
    font-size:18px;
    color:white;
    font-weight:100;
    padding-left: 20px;
}

.transaction{
    position:relative;
    width: 80vw;
    margin-top:10px;
    padding-bottom: 10px;
    margin:0 auto;
    display:flex;
    flex-wrap: wrap;
    flex-direction:row;
    color:white;
}


.full-break{
    width: 100%;
}

.little-break{
    width: 60%;
}

.status-light {
    margin-top: 10px;
    width:24px;
    height:24px;
    border-radius: 50px;
    background:red;
    animation: blinker 1.5s linear infinite;
}
  
@keyframes blinker {  
    50% { opacity: 0; }
}


.area{
    top:0;
    left:0;
    z-index: -1;
    position:fixed;
    background: #181818;  
    background: -webkit-linear-gradient(to left, #383838, #181818);  
    width: 100vw;
    height:100vh;
    
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}