@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');


body{
    overflow: hidden;
    background:var(--bg-color);
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Readex Pro', sans-serif;
}

.input-group{
    text-align:center;
    margin-top:10vh;
    display:flex;
    flex-direction:column;
    width: 100%;
    overflow:visible;
}

.input-group h1{
    color: var(--accent-color);
    font-weight: 400;
}

.input-group p{
    color:#9D9D9D;
    margin-top:15px;
}

#password-reveal{
    display: flex;
    margin:0px auto;
    margin-top:0px;
}

#password-reveal p{
    color:var(--accent-color);
    font-size:10px;
}


.input-field{
    border:0;
    text-align: center;
    margin:0 auto;
    margin-top: 15px;
    padding:15px 20px;
    
    width: 200px;
    display:flex;
    flex-direction: row;
    background: var(--primary-color);

    border-radius: 5px;
    color:var(--accent-color);
    margin-bottom: 30px;
}

#eye{
    margin-right: 10px;
    padding-top:12px;
    color: var(--accent-color);

}

input::placeholder {
    color: #cccccc;
    text-align: center;
    }


.submit-btn{
    width:100px;
    height:100px;
    display:flex;
    flex-direction: row;
    margin:5px auto;
    cursor: pointer;
    border:none;
    background: linear-gradient(180deg, #6FA2FF 0%, #4E72CE 100%);
box-shadow: 8.16431e-16px 13.3333px 26.6667px rgba(19, 28, 51, 0.2995), inset -2.84844e-16px -4.65185px 4.65185px #496BC1, inset 2.84844e-16px 4.65185px 4.65185px #74A9FF;
border-radius: 57px;
}

.bot{

    display:flex;
    margin:0 auto;
    z-index: -1;
    height: 250px;
    
}

#power_button{
    fill:var(--bg-color);
    width:75px;
    height:75px;
    transform: translate(12px,10px);
}