@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');



body{
    overflow: hidden;
    background:var(--bg-color);

}

*{
    margin: 0;
    padding: 0;
    font-family: 'Readex Pro', sans-serif;
}

.input-group{
    text-align:center;
    margin-top:15vh;
    display:flex;
    flex-direction:column;
    width: 100%;
    overflow:visible;
}

.input-group h1{
    color: var(--accent-color);
    font-weight: 400;
}

.input-group p{
    color:#9D9D9D;
    margin-top:15px;
    margin-bottom:30px;
    
}

#password-reveal{
    display: flex;
    margin:0px auto;
    margin-top:0px;
}

#password-reveal p{
    color:var(--accent-color);
    font-size:10px;
}


.input-field{
    border:0;
    text-align: left;
    margin:0 auto;
    margin-top: 15px;
    padding:15px 20px;
    
    width: 200px;
    display:flex;
    flex-direction: row;
    background: var(--bg-color);

    border-radius: 5px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color:var(--accent-color);
}

#eye{
    margin-right: 10px;
    padding-top:12px;
    color: var(--accent-color);

}

input::placeholder {
    color: #cccccc;
    text-align: left;
    }


.submit-btn{
    text-align: center;
    padding: 10px 15px;
    
    display:flex;
    flex-direction: row;
    margin:5px auto;
    cursor: pointer;
    background: var(--secondary-color);
    color:var(--accent-color);
    border-radius: 5px;
    border:none;
}
