@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');
body{
    background:#181818;
    overflow: hidden;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Readex Pro', sans-serif;
    
}

.skate {
    padding-left: 45px;
    padding-top:50px;
    width: 80%;
}


.input-group{
    text-align:center;
    margin-top:100px;
    display:flex;
    flex-direction:column;
    width: 100%;
    overflow: hidden;
}

.input-group h1{
    color: #fff;
    font-weight: 400;
}

.input-group p{
    color:#9D9D9D;
    margin-bottom:50px;
}

.input-field{
    border:0;
    text-align: left;
    margin:10px auto;
    padding:15px 20px;
    width: 200px;
    display:flex;
    flex-direction: row;
    background: white;
    border-radius: 5px;
    color:#000000; 
}

#eye{
    right:-100px;
    top:-40px;
    position:relative;
    color: #000000;
   
}

input::placeholder {
    color: #9D9D9D;
    text-align: left;
    }


.submit-btn{
    text-align: center;
    padding: 5px 15px;
    display:flex;
    flex-direction: row;
    margin:0 auto;
    cursor: pointer;
    background: #7B61FF;
    color:#ffffff;
    border-radius: 10px;
    border:none;
}

.check-box{
    font-family: "Poppins", sans-serif;
    opacity:0;
}

