.task-bar li{
    display:inline-block;
    padding: 0 20px;
}

.test {
    text-align:center;
    width: 100%;
    position:fixed;
    bottom: -20px;
}

.task-bar svg{
    width: 40px;
    height: 40px;
    color:var(--gray-color);
    border-radius: 10px;
    padding:5px 5px;
}

.task-bar .active{
    color:var(--primary-color);
}


.dock li{
    display:inline-block;
    padding: 0 20px;
}

.dock svg{
    width: 40px;
    height: 40px;
    color:var(--gray-color);
    border-radius: 10px;
    padding: 0px 5px;
}

.dock .inactive{
    visibility: hidden;
}